@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
    --dark:#2b2d42;
    --border:#dee2e6;
    --black:#000;
    --background:#2A313B;
    --background-darker:#232931;
}

*{
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    font-family: 'PT Sans',sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    box-shadow: 1px 3px 10px #e9ecef;
}
.border-shadow:hover{
    color:white;
    background-color: rgba(0, 255, 255, 0.5);

}
.btn-add{
    transition: ease-in 0.3s;
    background-color: white;
}
.btn-add:hover{
    background-color: var(--background);
    transition: ease-in 0.3s;
}
.btn-add:hover span{
    color: white;
}
.inline{
    display: inline-block;
}




#header nav{
    background-color: #2A313B;
    padding: 15px 350px 15px;
    width: 100%;
    position: fixed;
    top:0;
    display: flex;
    box-shadow: var(--black)  1px 0 2px;
}
nav a{
    color: white;
}

#site-main{
    margin-top: 10em;
    font-family: 'Barlow',sans-serif;

}

#site-main .container .box-nav>a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0 0 5px #00000050;
    background-color: white;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td>a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
    box-shadow: var(--black) 1px 1px 2px;
}

.table tr:hover{
    background-color: #23293150;
}

.table tr:hover td>a{
    background-color: #ffffff;
    box-shadow: var(--black)  1px 1px 3px;
}

.table tr:hover td>a:hover{
    transition: ease-in 0.3s;
    background-color: #e1e1e1;
    box-shadow: var(--black)  1px 1px 3px;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
}

.form-title {
    margin-top: 20px;
    text-align: center;

  }

  .form-title >span {
    margin-top: 2em;
      color:white;
      text-shadow: #000 1px 1px 2px;
  }

  .form-title >h2{
padding: .5em 0;
      color:white;
      text-shadow: #000 1px 1px 2px;
  }
  .new_user{
      box-shadow: #000 1px 1px 5px;
      padding: 15px;
    max-width: 786px;
    margin: auto;
      background-color: white;
  }

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#update_user .form-group input[type="text"],#update_user .form-group input[type="password"],
#add_user .form-group input[type="text"],#add_user .form-group input[type="password"]{
    width: 85%; /* Adjusts width to fit two inputs in one row with some space */
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow',sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .btn,
#add_user .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color: #FFF;
    font-size: 1em;
    cursor: pointer;
    border-radius: .5em;
    margin: .5em 0;
    transition: ease-in 0.3s;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover{
    background-color: var(--background);
    color:white;
    transition: ease-in 0.3s;
}
.form-group label{
    align-content: center;
}

.logo img{
    max-height: 100px;
}


