@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");
.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login-panel {
  margin: 55px 120px;
  background-color: #191D24;
  display: flex;
  height: calc(100vh - 110px);
  flex-direction: row;
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
}
.login-panel__image {
  flex: 1;
  position: relative;
}
.login-panel__image-background {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.login-panel__image-logo {
  margin-right: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
}
.login-panel__form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-panel__form-header {
  font-size: 45px;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  font-size: 19px;
}
.form-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-field-input {
  width: 75%;
  background-color: #232931;
  border-radius: 15px;
  padding: 4px;
  color: white;
  border: 1px solid black;
  margin: 10px 0;
  text-align: center;
}
.form-field-input-number {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
.form-field-label {
  align-content: center;
}
.form-field-text {
  color: #EAE7D6;
}
.form-field-text-link {
  text-decoration: none;
  margin-left: 5px;
  color: cyan;
}
.form-field-submit {
  width: 100%;
}
.form-field-submit-button {
  width: 100%;
  font-size: 20px;
  margin: 15px 0;
  border-radius: 15px;
  border: none;
  padding: 15px 0;
  background-color: #EB3224;
  transition: ease-in 0.3s;
  justify-content: center;
  align-items: center;
}
.form-field-submit-button:hover {
  background-color: #232931;
  color: #EB3224;
  border: 1px solid #EB3224;
}

@font-face {
  font-family: "Clash Grotesk-Regular";
  src: url("@/assets/fonts/ClashGrotesk-Regular.woff2") format("woff2"), url("@/assets/fonts/ClashGrotesk-Regular.woff") format("woff"), url("@/assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Clash Grotesk-Regular", sans-serif;
}

.menu {
  grid-row: 1/span 2;
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  background-color: #2A313B;
  box-shadow: 0 0 3px #444444;
  color: white;
}
.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.menu__logo-image {
  padding: 15px;
  max-height: 100%;
}
.menu__profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 10px;
}
.menu__profile-avatar {
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
.menu__profile-avatar-background {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 1;
  background-color: #EB3224;
  border-radius: 8px;
  box-shadow: 0 0 10px #5d5d5d;
}
.menu__profile-avatar-image {
  position: relative;
  width: 100%;
  padding: 15px;
  object-fit: cover;
  z-index: 2;
}
.menu__profile-name {
  align-content: center;
  flex: 0 0 50%;
  font-size: 1.3rem;
}
.menu__profile-money {
  margin: 15px 0;
  align-content: center;
  flex: 0 0 35%;
}
.menu__profile-value {
  margin: 15px 0;
  flex: 0 0 65%;
  color: #EB3224;
  text-shadow: 1px 1px black;
}
.menu__separator {
  height: 1px;
  width: 100%;
  background-color: #D8D8D8;
  opacity: 10%;
  margin: 15px 0;
}
.menu__nav {
  margin: 30px 0;
}
.menu__nav-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  transition: background-color 0.5s ease-in-out;
}
.menu__nav-item::before {
  content: "";
  background-color: #EB3224;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 0;
  transition: height 0.3s ease-in;
}
.menu__nav-item:hover, .menu__nav-item:hover > .menu__nav-item-link {
  background-color: #191D24;
  color: #EB3224;
  margin-left: 1px;
}
.menu__nav-item:hover::before, .menu__nav-item:hover > .menu__nav-item-link::before {
  height: 100%;
}
.menu__nav-item-icon {
  flex: 0 0 30%;
  padding-left: 25px;
}
.menu__nav-item-link {
  color: white;
  flex: 1;
  text-decoration: none;
}
.menu__logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__logout-link {
  text-decoration: none;
  color: white;
  transition: font-size 0.5s ease-in, padding 0.5s ease-in;
}
.menu__logout-link:hover {
  font-size: 1.5rem;
  padding: 25px 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.page__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  padding: 20px 25px;
}
.page__header-info {
  height: 100%;
  background: #191D24;
  border-radius: 20px;
  margin: 15px 40px;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 0 10px #373737;
}
.page__header-profile {
  background-color: #475161;
  height: 100%;
  margin: 15px 40px;
  border-radius: 20px;
  overflow: hidden;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #373737;
}
.page__header-profile-infos {
  width: 30%;
  text-align: center;
}
.page__header-profile-infos-text {
  margin: 10px 0;
}
.page__header-profile-infos-text--red {
  color: #EB3224;
}
.page__header-profile-avatar {
  background-color: #EB3224;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px #5d5d5d;
}
.page__header-profile-avatar-image {
  height: 60px;
}

.footer {
  bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  background: #191D24;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 86%;
  padding: 0 15px;
  border-top: 1px solid #555;
  border-left: 1px solid #333;
}
.footer__copyright-link {
  text-decoration: none;
  color: white;
}
.footer__copyright-link:hover {
  color: #EB3224;
}
.footer__menu {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.footer__menu-item {
  padding: 0 7px;
}
.footer__menu-item-link {
  font-size: 0.85rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__menu-item-link:hover {
  color: #EB3224;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #EAE7D6;
  background-color: #232931;
}

.app {
  display: grid;
  grid-template-columns: 250px 1fr; /* 250px for SideMenu and 1fr for the rest */
  grid-template-rows: 200px 1fr; /* Auto height for header and 1fr for content */
  height: 100vh; /* Full viewport height */
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr; /* Auto height for HeaderPanel and 1fr for content */
  grid-column: 2/3; /* Occupies the second column */
  flex: 1;
}

.page {
  margin-top: 35px;
  width: 91%;
  height: 675px;
  align-self: center;
  justify-self: center;
  background-color: #191D24;
  padding: 2rem;
  border-radius: 30px;
}

/*# sourceMappingURL=main.css.map */
