@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import '@fontsource/source-sans-pro/index.css';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");
.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login-panel {
  margin: 55px 120px;
  background-color: #191d24;
  display: flex;
  height: calc(100vh - 110px);
  flex-direction: row;
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
}
.login-panel__image {
  flex: 1;
  position: relative;
}
.login-panel__image-background {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}
.login-panel__image-logo {
  margin-right: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
}
.login-panel__form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-panel__form-header {
  font-size: 45px;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  font-size: 19px;
}
.form-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-field-input {
  width: 75%;
  background-color: #232931;
  border-radius: 15px;
  padding: 4px;
  color: white;
  border: 1px solid black;
  margin: 10px 0;
  text-align: center;
}
.form-field-input-number {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
.form-field-label {
  align-content: center;
}
.form-field-text {
  color: #eae7d6;
}
.form-field-text-link {
  text-decoration: none;
  margin-left: 5px;
  color: cyan;
}
.form-field-submit {
  width: 100%;
}
.form-field-submit-button {
  width: 100%;
  font-size: 20px;
  margin: 15px 0;
  border-radius: 15px;
  border: none;
  padding: 15px 0;
  background-color: #eb3224;
  transition: ease-in 0.3s;
  justify-content: center;
  align-items: center;
}
.form-field-submit-button:hover {
  background-color: #232931;
  color: #eb3224;
  border: 1px solid #eb3224;
}

@font-face {
  font-family: "Clash Grotesk-Regular";
  src: url("@/assets/fonts/ClashGrotesk-Regular.woff2") format("woff2"), url("@/assets/fonts/ClashGrotesk-Regular.woff") format("woff"), url("@/assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Clash Grotesk-Regular", sans-serif;
}

.menu {
  grid-row: 1/span 2;
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  background-color: #2a313b;
  box-shadow: 0 0 3px #444444;
  color: white;
}
.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.menu__logo-image {
  padding: 15px;
  max-height: 100%;
}
.menu__profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 10px;
}
.menu__profile-avatar {
  flex: 0 0 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
.menu__profile-avatar-background {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 1;
  background-color: #eb3224;
  border-radius: 8px;
  box-shadow: 0 0 10px #5d5d5d;
}
.menu__profile-avatar-image {
  position: relative;
  width: 100%;
  padding: 15px;
  object-fit: cover;
  z-index: 2;
}
.menu__profile-name {
  align-content: center;
  flex: 0 0 50%;
  font-size: 1.3rem;
}
.menu__profile-money {
  margin: 15px 0;
  align-content: center;
  flex: 0 0 35%;
}
.menu__profile-value {
  margin: 15px 0;
  flex: 0 0 65%;
  color: #eb3224;
  text-shadow: 1px 1px black;
}
.menu__separator {
  height: 1px;
  width: 100%;
  background-color: #d8d8d8;
  opacity: 10%;
  margin: 15px 0;
}
.menu__nav {
  margin: 30px 0;
}
.menu__nav-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  transition: background-color 0.5s ease-in-out;
}
.menu__nav-item-active {
  background-color: #191d24;
  color: #eb3224;
  margin-left: 1px;
}
.menu__nav-item-active::before {
  transition: height 0.3s ease-in;
  height: 100% !important;
}
.menu__nav-item::before {
  content: "";
  background-color: #eb3224;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 0;
  transition: height 0.3s ease-in;
}
.menu__nav-item:hover, .menu__nav-item:hover > .menu__nav-item-link {
  background-color: #191d24;
  color: #eb3224;
  margin-left: 1px;
}
.menu__nav-item:hover::before, .menu__nav-item:hover > .menu__nav-item-link::before {
  height: 100%;
}
.menu__nav-item-icon {
  flex: 0 0 30%;
  padding-left: 25px;
}
.menu__nav-item-link {
  color: white;
  flex: 1;
  text-decoration: none;
}
.menu__logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__logout-link {
  text-decoration: none;
  color: white;
  transition: font-size 0.5s ease-in, padding 0.5s ease-in;
}
.menu__logout-link:hover {
  font-size: 1.5rem;
  padding: 25px 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dashboard__card {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  width: 48%;
  height: 46%;
  margin: 0 10px 0 10px;
  box-shadow: 0 0 10px #2d2d2d;
}
.dashboard__card-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eae7d6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.dashboard__card-info-name {
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}
.dashboard__card-info-button {
  background-color: #eb3224;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
}
.dashboard__card-background {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  transform: scale(1.4);
}
.dashboard__card:hover .dashboard__card-background {
  transform: scale(1.15);
  filter: blur(2px);
}
.dashboard__card:hover, .dashboard__card:hover .dashboard__card-info-button {
  box-shadow: 0 0 15px #eb3224;
}

.page__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  padding: 20px 25px;
}
.page__header-info {
  height: 100%;
  background: #191d24;
  border-radius: 20px;
  margin: 15px 30px;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 0 10px #373737;
  font-size: 0.9em;
}
.page__header-profile {
  background-color: #475161;
  height: 100%;
  margin: 15px 30px;
  border-radius: 20px;
  overflow: hidden;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #373737;
  text-decoration: none;
}
.page__header-profile-infos {
  text-decoration: none;
  color: #eb3224;
  width: 30%;
  text-align: center;
}
.page__header-profile-infos-text {
  text-decoration: none !important;
  margin: 10px 0;
}
.page__header-profile-infos-text--red {
  color: #eb3224;
}
.page__header-profile-avatar {
  background-color: #eb3224;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px #5d5d5d;
}
.page__header-profile-avatar-image {
  height: 60px;
}

.footer {
  bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  background: #191d24;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 86%;
  padding: 0 15px;
  border-top: 1px solid #555;
  border-left: 1px solid #333;
}
.footer__copyright-link {
  text-decoration: none;
  color: white;
}
.footer__copyright-link:hover {
  color: #eb3224;
}
.footer__menu {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.footer__menu-item {
  padding: 0 7px;
}
.footer__menu-item-link {
  font-size: 0.85rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__menu-item-link:hover {
  color: #eb3224;
}

.info {
  display: flex;
  flex-direction: row;
}
.info__block {
  width: 40%;
  background: #2a313b;
  border-radius: 35px;
  margin: 0 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.info__block--bigger {
  width: 60%;
}
.info__block-header {
  font-size: 3rem;
}
.info__block-item {
  overflow: hidden;
  background: #232931;
  border-radius: 25px;
  padding: 15px;
  margin: 10px 0;
}
.info__block-item-img {
  padding: 15px;
  width: 85%;
  height: auto;
}
.info__block-list {
  list-style: upper-roman;
  font-size: 0.9em;
  text-align: left;
  padding: 0 10px;
}
.info__block-list-item p {
  margin: 0 10px;
}
.info__block-list-item strong {
  font-weight: bold;
  font-size: 1.2em;
}

.ranking__table {
  background: #2a313b;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 45px;
  text-align: center;
  border-spacing: 0px;
}
.ranking__table-headers {
  background: #191d24;
}
.ranking__table-headers th:first-child {
  border-top-left-radius: 25px;
}
.ranking__table-headers th:last-child {
  border-top-right-radius: 25px;
}
.ranking__table-user {
  border-top: 1px solid #475161;
}
.ranking__table-user:first-child {
  border-left: 1px solid #475161;
}
.ranking__table-user:last-child {
  border-right: 1px solid #475161;
}
.ranking__table-users:hover {
  transition: 0.3s ease-in;
  background-color: #475161;
  color: #eb3224;
}
.ranking__table-users:last-child td {
  border-bottom: 1px solid #475161;
}
.ranking__table-users:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.ranking__table-users:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__content {
  background: #475161;
  box-shadow: #666 0 0 15px;
  max-width: 400px;
  max-height: 600px;
  border: 2px solid #191d24;
}
.popup__header {
  background: #191d24;
  padding: 10px 0 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.popup__header-title-value {
  color: #eb3224;
  font-size: 1.2em;
}
.popup__header-button {
  margin: -10px 0;
  position: relative;
  color: black;
  background: #eb3224;
  width: 50px;
  height: 50px;
  padding: 0;
  box-shadow: 0 0 1px black;
  border: none;
}
.popup__header-button:hover {
  border: black solid 1px;
  background: #ca1f12;
}
.popup__info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.popup__info-value {
  margin: 10px 0;
  width: 50%;
  border-bottom: 1px solid #2a313b;
  border-bottom-right-radius: 20px;
}
.popup__info-name {
  margin: 10px 0;
  width: 50%;
  font-weight: bold;
  border-bottom: 1px solid #2a313b;
  border-bottom-left-radius: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.profile__options {
  display: flex;
  background: #2a313b;
  flex-direction: column;
  border-radius: 45px;
  flex: 1;
  padding: 25px;
  align-items: center;
}
.profile__options-header {
  font-size: 2em;
  margin: 10px 0;
}
.profile__options-button {
  width: 50%;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 15px;
  border: none;
  padding: 10px 0;
  background-color: #eb3224;
  transition: ease-in 0.3s;
  justify-content: center;
  align-items: center;
}
.profile__options-button:hover {
  background-color: #232931;
  color: #eb3224;
  border: 1px solid #eb3224;
}
.profile__options-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  background: #475161;
  width: 100%;
  margin-bottom: 40px;
}
.profile__options-avatar {
  align-self: center;
  background-color: #eb3224;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px #5d5d5d;
  width: fit-content;
}
.profile__options-avatar-image {
  height: 100px;
}
.profile__form {
  border-radius: 45px;
  background: #2a313b;
  justify-content: center;
  align-items: center;
}
.profile__form-form {
  border-radius: 30px;
  padding: 15px;
  background: #475161;
}
.profile__form-header {
  font-size: 2em;
  padding: 15px 0;
  align-self: center;
}

.hub {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 15px;
}
.hub__item {
  background: #232931;
  padding: 25px;
  border-radius: 25px;
}
.hub__game {
  width: 65%;
  height: 100%;
}
.hub__info {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hub__info-coins {
  height: 40%;
}
.hub__info-legend {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hub__info-legend-title {
  font-size: 1.5em;
}
.hub__coins-picker {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  row-gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.hub__coins-picker-item-img {
  height: 80px;
  filter: drop-shadow(0 0 10px black);
  transition: ease-in 0.3s;
}
.hub__coins-picker-item-img:hover {
  filter: drop-shadow(0 0 10px #eb3224) brightness(1.5);
}
.hub__coins-picker-item-img:active {
  filter: drop-shadow(0 0 10px #eb3224) brightness(0.3);
}
.hub__coins-picker-button {
  width: 150px;
  height: 50px;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  background-color: #eb3224;
  transition: ease-in 0.3s;
  box-shadow: 0 0 10px black;
}
.hub__coins-picker-button:hover {
  background-color: #232931;
  color: #eb3224;
  border: 1px solid #eb3224;
}
.hub__coins-picker-button:active {
  background-color: #eb3224;
  color: black;
  box-shadow: 0 0 10px #eb3224;
}
.hub__coins-picker-text {
  font-size: 1.3em;
}
.hub__coins-picker-value {
  font-size: 1.3em;
  transition: color 0.5s;
}
.hub__coins-picker-coins {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.hub__coins-picker-coins-img {
  height: 20px;
  vertical-align: middle;
}
.hub__button {
  width: 150px;
  height: 50px;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  background-color: #eb3224;
  transition: ease-in 0.3s;
  box-shadow: 0 0 10px black;
}
.hub__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.hub__button:disabled:hover {
  color: rgba(0, 0, 0, 0.2);
  background-color: #eb3224;
}
.hub__button:hover {
  background-color: #232931;
  color: #eb3224;
  border: 1px solid #eb3224;
}

.roulette__legend {
  width: 100%;
  height: 100%;
}
.roulette__legend-text {
  padding: 15px;
  font-size: 0.9rem;
  display: ruby-text;
  border-radius: 25px;
  background: #2a313b;
  border: 1px solid #191d24;
}
.roulette__legend-table {
  width: 100%;
  height: 50%;
  margin: 15px 0;
  border-radius: 25px;
  text-align: center;
  border-spacing: 0px;
}
.roulette__legend-table-headers {
  background: #191d24;
}
.roulette__legend-table-headers th {
  padding: 3px;
}
.roulette__legend-table-headers th:first-child {
  border-top-left-radius: 15px;
}
.roulette__legend-table-headers th:last-child {
  border-top-right-radius: 15px;
}
.roulette__legend-table-cell {
  border-top: 1px solid #475161;
}
.roulette__legend-table-cell:first-child {
  border-left: 1px solid #475161;
}
.roulette__legend-table-cell:last-child {
  border-right: 1px solid #475161;
}
.roulette__legend-table-row:last-child td {
  border-bottom: 1px solid #475161;
}
.roulette__legend-table-row:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.roulette__legend-table-row:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.roulette__legend-table-red {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: red;
}
.roulette__legend-table-black {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: black;
}
.roulette__legend-table-green {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: green;
}

.slots__legend {
  width: 100%;
  height: 100%;
}
.slots__legend-text {
  padding: 15px;
  font-size: 0.85rem;
  display: ruby-text;
  border-radius: 25px;
  background: #2a313b;
  border: 1px solid #191d24;
}
.slots__legend-table {
  width: 100%;
  height: 70%;
  margin: 15px 0;
  border-radius: 25px;
  text-align: center;
  border-spacing: 0px;
}
.slots__legend-table-headers {
  background: #191d24;
}
.slots__legend-table-headers th {
  padding: 3px;
}
.slots__legend-table-headers th:first-child {
  border-top-left-radius: 15px;
}
.slots__legend-table-headers th:last-child {
  border-top-right-radius: 15px;
}
.slots__legend-table-cell {
  border-top: 1px solid #475161;
}
.slots__legend-table-cell:first-child {
  border-left: 1px solid #475161;
}
.slots__legend-table-cell:last-child {
  border-right: 1px solid #475161;
}
.slots__legend-table-row:last-child td {
  border-bottom: 1px solid #475161;
}
.slots__legend-table-row:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.slots__legend-table-row:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.slots__legend-table-img {
  vertical-align: middle;
  width: 25px;
  filter: drop-shadow(0 0 2px black);
}

.blackjack__legend {
  width: 100%;
  height: 100%;
}
.blackjack__legend-list {
  padding: 15px 15px 15px 25px;
  font-size: 0.9rem;
  border-radius: 25px;
  background: #2a313b;
  border: 1px solid #191d24;
}
.blackjack__legend-list-header {
  font-size: 1.3rem;
}
.blackjack__legend-table {
  width: 100%;
  margin: 15px 0;
  border-radius: 25px;
  text-align: center;
  border-spacing: 0px;
}
.blackjack__legend-table-headers {
  background: #191d24;
}
.blackjack__legend-table-headers th {
  padding: 3px;
}
.blackjack__legend-table-headers th:first-child {
  border-top-left-radius: 15px;
}
.blackjack__legend-table-headers th:last-child {
  border-top-right-radius: 15px;
}
.blackjack__legend-table-cell {
  border-top: 1px solid #475161;
}
.blackjack__legend-table-cell:first-child {
  border-left: 1px solid #475161;
}
.blackjack__legend-table-cell:last-child {
  border-right: 1px solid #475161;
}
.blackjack__legend-table-row:last-child td {
  border-bottom: 1px solid #475161;
}
.blackjack__legend-table-row:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.blackjack__legend-table-row:last-child td:last-child {
  border-bottom-right-radius: 25px;
}

.roulette__game {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}
.roulette__game-info {
  width: 100%;
  height: 80px;
  display: flex;
}
.roulette__game-info-winner {
  transition: color ease-in 0.5s;
  animation-name: rainbow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.roulette__game-info-winner-red {
  padding-left: 10px;
  color: red;
  text-shadow: 0 0 15px red;
}
.roulette__game-info-winner-black {
  padding-left: 10px;
  color: black;
  text-shadow: 0 0 15px black;
}
.roulette__game-info-winner-green {
  padding-left: 10px;
  color: green;
  text-shadow: 0 0 15px green;
}
@keyframes rainbow {
  0% {
    color: red;
    text-shadow: 0 0 10px red;
  }
  8.33% {
    color: orange;
    text-shadow: 0 0 10px orange;
  }
  16.66% {
    color: yellow;
    text-shadow: 0 0 10px yellow;
  }
  25% {
    color: green;
    text-shadow: 0 0 10px green;
  }
  33.33% {
    color: blue;
    text-shadow: 0 0 10px blue;
  }
  41.66% {
    color: indigo;
    text-shadow: 0 0 10px indigo;
  }
  50% {
    color: violet;
    text-shadow: 0 0 10px violet;
  }
  58.33% {
    color: pink;
    text-shadow: 0 0 10px pink;
  }
  66.66% {
    color: cyan;
    text-shadow: 0 0 10px cyan;
  }
  75% {
    color: lime;
    text-shadow: 0 0 10px lime;
  }
  83.33% {
    color: magenta;
    text-shadow: 0 0 10px magenta;
  }
  91.66% {
    color: teal;
    text-shadow: 0 0 10px teal;
  }
  100% {
    color: red;
    text-shadow: 0 0 10px red;
  }
}
.roulette__game-info-item {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roulette__game-item {
  border-radius: 25px;
  padding: 15px;
  background: #191d24;
}
.roulette__game-controlls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.roulette__game-controlls-input {
  display: none;
}
.roulette__game-controlls-input-label {
  margin-top: 10px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.roulette__game-controlls-input-red {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 100%;
  background-color: red;
}
.roulette__game-controlls-input-red--bigger {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px red;
}
.roulette__game-controlls-input-black {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 100%;
  background-color: black;
}
.roulette__game-controlls-input-black--bigger {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px black;
}
.roulette__game-controlls-input-green {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 100%;
  background-color: green;
}
.roulette__game-controlls-input-green--bigger {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px green;
}

.wheel-container {
  margin: 15px 55px;
}

.wheel-container::after {
  content: "";
  height: 210px;
  width: 5px;
  position: absolute;
  border: 3px solid white;
  top: 0;
  left: calc(50% - 2px);
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  z-index: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #eae7d6;
  background-color: #232931;
}

.app {
  display: grid;
  grid-template-columns: 250px 1fr; /* 250px for SideMenu and 1fr for the rest */
  grid-template-rows: 200px 1fr; /* Auto height for header and 1fr for content */
  height: 100vh; /* Full viewport height */
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr; /* Auto height for HeaderPanel and 1fr for content */
  grid-column: 2/3; /* Occupies the second column */
  flex: 1;
}

.page {
  margin-top: 35px;
  width: 91%;
  height: 675px;
  align-self: center;
  justify-self: center;
  background-color: #191d24;
  padding: 2rem;
  border-radius: 30px;
}

/*# sourceMappingURL=main.css.map */
