@import '~@fontsource/source-sans-pro/index.css';

$red-accents: #EB3224;
$background: #232931;
$background-light: #2A313B;
$background-dark: #191D24;
$font-color: #EAE7D6;
$white: #FFF;
$font-menu-size: 14px ;
$font-menu-profile-size: 15px;
$font-form-size: 19px;

