@import '@fontsource/source-sans-pro/index.css';

$red-accents: #eb3224;
$background: #232931;
$background-light: #2a313b;
$background-dark: #191d24;
$background-mega-light: #475161;
$font-color: #eae7d6;
$separator: #d8d8d8;
$white: #fff;
$font-menu-size: 14px;
$font-menu-profile-size: 15px;
$font-form-size: 19px;
